<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Predictive Search</title>
	<link rel="stylesheet" href="bonus_one.css">
</head>
<body>
	<div class ="top-header">
		<h1 class="h1">Predictive Search</h1>
	</div>
	<div class="flexsearch">
		<div class="flexsearch-wrapper">
			<!-- You'll handle the form with js, so no need for method and action -->
			<form class="flexsearch-form" id="mainForm">
				<div class="flexsearch-input-wrapper">
					<input class="flexsearch-input" type="search" placeholder="search">
				</div>
				<input id = "submit" class="flexsearch-submit" type="submit" value="&#10140;" onsubmit="redirect()"/>
				<div class="flexsearch-suggestion" id="suggestion">
				</div>
			</form>
			
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="bonus_one.js"></script>
</body>
</html>